@import '../../index.scss';

.productList {
    @include section;
    min-height: 120vh;

    h2 {
        height: 15vh;
        margin: 0 auto;
        padding: 2rem 0;
        text-align: center;
        font-size: 2rem;
    }

    #{&}__products {
        @include flex(row);
        justify-content: space-around;
    }
}

@media screen and (max-width: 860px) {
    .productList {
        #{&}__products {
            flex-direction: column;
        }
    }
}