.star {

    i {
        color: rgb(255, 212, 20);
        font-size: 5rem;
        margin: 1rem;
    }

    &.disabled {
        opacity: .8;
    }

}

@media screen and (max-width: 600px) {
    .star {
        i {
            font-size: 3.5rem;
        }
    }
}