@import './reset.scss';
@import './variables.scss';

@function getWeight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin section {
    width: 100%;
    position: relative;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

.container {
    width: 85vw;
    margin: 0 auto;
}