$primary-color: #43cb83;
$secondary-color: #fff;
$offer-primary-color: #ff9000;
$offer-secondary-color: #284e62;
$text-color: #282828;
$price-color: #515461;

$font-weights: (
    "regular": 400,
    "bold": 700,
    "large": 900
);